body{
    background-image: url('fond_ecran.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:aqua
    
}

#en_tete{
    float:right;
}
h1{
    margin: 2%;
    
}

span{
    font-size:1.3rem
}
.texte{
    margin-left: 5%;
    font-size:1.3rem;
}
#ville > a{
    color:rgb(19, 8, 80);
    

}

  
